/*------------------------------------------------*/
/*Global variables for colors used in website*/
/*------------------------------------------------*/
/*@import "./modules/_variables.css";*/
  /*--tintedWhite: #f4f4f4;*/
  /*--mainOrange: #e67e22;*/
  /*--darkerOrange: #c06515;*/

/* ----------------------------
Grid CSS
---------------------------- */
@import "../../vendors/css/grid.css";

/* ----------------------------
 Ioicons to use
---------------------------- */
@import "../../vendors/css/ionicons.min.css";

/* ----------------------------
Basic Setup
---------------------------- */
@import "./modules/_basic-setup.css";

/*-------------------------------*/
/*General Links Settings*/
/*-------------------------------*/
@import "./modules/_generic-links.css";

/* ----------------------------
Reusable components
---------------------------- */
@import "./modules/_grid-row-component.css";

/* ----------------------------
Header section
---------------------------- */
@import "./modules/_header-section.css";

/*------------------------------*/
/* Headings */
/*------------------------------*/
@import "./modules/_headings.css";

/* ----------------------------
Button settings
---------------------------- */
@import "./modules/_button-settings.css";

/*------------------------------*/
/*Section Features Setting*/
/*------------------------------*/
@import "./modules/_section-features-setting.css";

/*-----------------------------*/
/*Section Features Icons settings*/
/*-----------------------------*/
@import "./modules/_section-features-icons.css";

/*-----------------------------------*/
/*Section Features Paragraph Settings*/
/*-----------------------------------*/
@import "./modules/_section-features-paragraphs.css";

/*----------------------------------*/
/*Meal Showcase Section Settings*/
/*----------------------------------*/
@import "./modules/_section-meals-showcase.css";

/*--------------------------*/
/*How it works Section*/
/*--------------------------*/
@import "./modules/_section-steps.css";

/*---------------------------------*/
/*Cities Section Settings*/
/*---------------------------------*/
@import "./modules/_section-cities.css";
