/* ----------------------------
Header section
---------------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
} 

.logo-black {
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
  display: none;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0;
}

.main-nav li a:hover, 
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  display: none;
  cursor: pointer;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/*sticky navigation*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px #efefef;
  z-index: 100;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
  color: #555;
  padding: 16px 0;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }