/*----------------------------------*/
/*Meal Showcase Section Settings*/
/*----------------------------------*/

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}